@charset "UTF-8";
@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans_regular/OpenSans-Regular-webfont.eot");
  src: url("fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("fonts/opensans_semibold/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* YAML Framework Components and normalize.scss */
@media all {
  /**
   *  @section Normalisation Module
   */
  /* (en) Global reset of paddings and margins for all HTML elements */
  /* (de) Globales Zurücksetzen der Innen- und Außenabstände für alle HTML-Elemente */
  * {
    margin: 0;
    padding: 0;
  }

  /* (en) Correction: margin/padding reset caused too small select boxes. */
  /* (de) Korrektur: Das Zurücksetzen der Abstände verursacht zu kleine Selectboxen. */
  option {
    padding-left: 0.4em;
  }

  select {
    padding: 1px;
  }

  /*
  * (en) Global fix of the Italics bugs in IE 5.x and IE 6
  * (de) Globale Korrektur des Italics Bugs des IE 5.x und IE 6
  *
  * @bugfix
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      yes
  */
  * html body * {
    overflow: visible;
  }

  /*
  * (en) Fix for rounding errors when scaling font sizes in older versions of Opera browser
  *      Standard values for colors and text alignment
  *
  * (de) Beseitigung von Rundungsfehler beim Skalieren von Schriftgrößen in älteren Opera Versionen
  *      Vorgabe der Standardfarben und Textausrichtung
  */
  body {
    font-size: 100%;
    background: #fff;
    color: #000;
    text-align: left;
  }

  /* (en) avoid visible outlines on DIV and h[x] elements in Webkit browsers */
  /* (de) Vermeidung sichtbarer Outline-Rahmen in Webkit-Browsern */
  div:target,
  h1:target,
  h2:target,
  h3:target,
  h4:target,
  h5:target,
  h6:target {
    outline: 0 none;
  }

  /* (en) HTML5 - adjusting visual formatting model to block level */
  /* (de) HTML5 - Elements werden als Blockelemente definiert */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  nav,
  section,
  summary {
    display: block;
  }

  /* (en) HTML5 - default media element styles */
  /* (de) HTML5 - Standard Eigenschaften für Media-Elemente */
  audio,
  canvas,
  video {
    display: inline-block;
  }

  /* (en) HTML5 - don't show <audio> element if there aren't controls */
  /* (de) HTML5 - <audio> ohne Kontrollelemente sollten nicht angezeigt werden */
  audio:not([controls]) {
    display: none;
  }

  /* (en) HTML5 - add missing styling in IE & old FF for hidden attribute */
  /* (de) HTML5 - Eigenschaften für das hidden-Attribut in älteren IEs und FF nachrüsten */
  [hidden] {
    display: none;
  }

  /* (en) Prevent iOS text size adjust after orientation change, without disabling user zoom. */
  /* (de) Verdindert die automatische Textanpassung bei Orientierungswechsel, ohne Zoom zu blockieren */
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  /* (en) set correct box-modell in IE8/9 plus remove padding */
  /* (de) Setze das richtige Box-Modell im IE8/9 und entferne unnötiges Padding */
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  /* (en) force consistant appearance of input[type="search"] elements in all browser */
  /* (de) Einheitliches Erscheinungsbild für input[type="search"] Elemente erzwingen */
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /* (en) Correct overflow displayed oddly in IE 9 */
  /* (de) Korrigiert fehlerhafte overflow Voreinstellung des IE 9 */
  svg:not(:root) {
    overflow: hidden;
  }

  /* (en) Address margin not present in IE 8/9 and Safari 5 */
  /* (en) Ergänzt fehlenden Margin in IE 8/9 und Safari 5 */
  figure {
    margin: 0;
  }

  /* (en) Clear borders for <fieldset> and <img> elements */
  /* (de) Rahmen für <fieldset> und <img> Elemente löschen */
  fieldset,
  img {
    border: 0 solid;
  }

  /* (en) new standard values for lists, blockquote, cite and tables */
  /* (de) Neue Standardwerte für Listen, Zitate und Tabellen */
  ul,
  ol,
  dl {
    margin: 0 0 1em 1em;
  }

  li {
    line-height: 1.5em;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0.8em;
  }

  blockquote {
    margin: 0 0 1em 0.8em;
  }

  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /**
  * @section Float Handling Module
  */
  /* (en) clearfix method for clearing floats */
  /* (de) Clearfix-Methode zum Clearen der Float-Umgebungen */
  .ym-clearfix:before {
    content: "";
    display: table;
  }

  .ym-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  /* (en) alternative solutions to contain floats */
  /* (de) Alternative Methoden zum Einschließen von Float-Umgebungen */
  .ym-contain-dt {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .ym-contain-oh {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .ym-contain-fl {
    float: left;
    width: 100%;
  }

  /**
  * @section Grid Module
  */
  .ym-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .ym-gl {
    float: left;
    margin: 0;
  }

  .ym-gr {
    float: right;
    margin: 0 0 0 -5px;
  }

  .ym-g20 {
    width: 20%;
  }

  .ym-g40 {
    width: 40%;
  }

  .ym-g60 {
    width: 60%;
  }

  .ym-g80 {
    width: 80%;
  }

  .ym-g25 {
    width: 25%;
  }

  .ym-g33 {
    width: 33.333%;
  }

  .ym-g50 {
    width: 50%;
  }

  .ym-g66 {
    width: 66.666%;
  }

  .ym-g75 {
    width: 75%;
  }

  .ym-g38 {
    width: 38.2%;
  }

  .ym-g62 {
    width: 61.8%;
  }

  .ym-gbox {
    padding: 0 20px;
  }

  .ym-gbox-left {
    padding: 0 20px 0 0;
  }

  .ym-gbox-right {
    padding: 0 0 0 20px;
  }

  .ym-equalize {
    overflow: hidden;
  }

  .ym-equalize > [class*="ym-g"] {
    display: table-cell;
    float: none;
    margin: 0;
    vertical-align: top;
  }

  .ym-equalize > [class*="ym-g"] > [class*="ym-gbox"] {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }

  /**
  * @section Accessibility Module
  *
  * (en) skip links and hidden content
  * (de) Skip-Links und versteckte Inhalte
  */
  /* (en) classes for invisible elements in the base layout */
  /* (de) Klassen für unsichtbare Elemente im Basislayout */
  .ym-skip,
  .ym-hideme,
  .ym-print {
    position: absolute;
    top: -32768px;
    left: -32768px;
  }

  /* (en) make skip links visible when using tab navigation */
  /* (de) Skip-Links für Tab-Navigation sichtbar schalten */
  .ym-skip:focus,
  .ym-skip:active {
    position: static;
    top: 0;
    left: 0;
  }

  /* skiplinks:technical setup */
  .ym-skiplinks {
    position: absolute;
    top: 0px;
    left: -32768px;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .ym-skiplinks .ym-skip:focus,
  .ym-skiplinks .ym-skip:active {
    left: 32768px;
    outline: 0 none;
    position: absolute;
    width: 100%;
  }
}
@media print {
  /**
  * @section print adjustments for core modules
  *
  * (en) float containment for grids. Uses display:table to avoid bugs in FF & IE
  * (de) Floats in Grids einschließen. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
  *
  * @bugfix
  * @since     3.0
  * @affected  FF2.0, FF3.0, IE7
  * @css-for   all browsers
  * @valid     yes
  */
  .ym-grid > .ym-gl,
  .ym-grid > .ym-gr {
    overflow: visible;
    display: table;
    table-layout: fixed;
  }

  /* (en) make .ym-print class visible */
  /* (de) .ym-print-Klasse sichtbar schalten */
  .ym-print {
    position: static;
    left: 0;
  }

  /* (en) generic class to hide elements for print */
  /* (de) Allgemeine CSS Klasse, um beliebige Elemente in der Druckausgabe auszublenden */
  .ym-noprint {
    display: none !important;
  }
}
@media print {
  /**
  * @section basic layout preparation
  */
  /* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers */
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
  body {
    font-size: 10pt;
    padding: 0 5px;
  }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  nav,
  .ym-searchform {
    display: none;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
}
/* Meine Mixins */
/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
/* ------- Module --------------- */
/* ------- Module --------------- */
/*  box sizing */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.ym-gbox {
  padding-top: 0;
  padding-right: 10px !important;
  padding-bottom: 0;
  padding-left: 10px !important;
}

.layoutcnt {
  padding: 70px 0px;
}

.layoutcnt2 {
  padding: 40px 0px 10px 0px;
}

.zitatcnt {
  padding: 10px 0px;
}

.ym-wbox {
  max-width: 1200px;
  margin: 0 auto;
}

.ym-wbox-header {
  max-width: 1400px;
  margin: 0 auto;
}

.hell {
  background-color: #FBF7EA;
}

.mittel {
  background-color: #F8ECD5;
}

.dunkel {
  background-color: #DAC8A5;
}

.bd-top-1 {
  border-top: 3px solid #008035;
}

.bd-top-2 {
  border-top: 3px solid #F1D6A2;
}

@media all {
  html * {
    font-size: 100%;
  }

  textarea, pre, code, kbd, samp, var, tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  body {
    font-family: "open_sansregular", "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    color: #592F07;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #592F07;
    margin: 0px 0px 20px 0px;
    font-family: "Times New Roman", Times, "Droid Serif", Georgia, serif;
  }

  h2 {
    font-size: 36px;
    font-size: 36px;
  }

  h2.balken {
    font-size: 30px;
    background-color: #F1D6A2;
    padding: 10px;
    color: #592F07;
  }

  h2.centered {
    font-size: 40px;
  }

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
  }

  ol ul {
    list-style-type: circle;
    margin-top: 0;
  }

  li {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 20px;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0px 0px 20px 10px;
    margin: 0 0 1.5em 0.8em;
  }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #592F07;
  }

  blockquote,
  cite,
  q {
    font-family: "Times New Roman", Times, "Droid Serif", Georgia, serif;
    font-style: italic;
  }

  blockquote {
    background: transparent;
    color: #666;
    margin: 1.5em 0 0 1.5em;
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  acronym,
  abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  mark {
    background: #ff0;
    color: #000;
  }

  hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.67857em 0;
    border: 0;
    border-bottom: 1px #eee solid;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */
  a {
    color: #4d87c7;
  }

  a:active {
    outline: none;
  }

  a:hover,
  a:focus {
    color: #fff;
    text-decoration: none;
  }

  /* --- images ------------------ */
  img,
  figure {
    margin: 0;
  }

  .flexible {
    max-width: 100%;
    height: auto;
  }

  /**
  * ----------------------------------------------------------------------- #
  *
  * Generic Content Classes
  */
  .centered {
    text-align: center;
  }

  .highlight {
    color: #c30;
  }

  .dimmed {
    color: #888;
  }

  .info {
    background: #f4f4f4;
  }

  .success {
    background: #8c8;
  }

  .warning {
    background: #cc8;
  }

  .error {
    background: #c88;
  }

  .float-left {
    float: left;
    display: inline;
    margin: 0px 16px 20px 0px;
  }

  .float-right {
    float: right;
    display: inline;
    margin: 0px 0px 20px 16px;
  }

  .center {
    display: block;
    text-align: center;
    margin: 0 auto 1.5em auto;
  }

  /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */
  table {
    width: 100%;
    border-collapse: collapse;
    color: #592F07;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    margin: 0 0 1.35714em 0;
  }
  table.narrow {
    margin: 0 0 1.42857em 0;
  }
  table.narrow th,
  table.narrow td {
    padding: 0 0.5em;
    line-height: 1.42857;
  }
  table.fixed {
    table-layout: fixed;
  }
  table.bordertable {
    border: 1px #ccc solid;
  }
  table.bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
  }
  table.bordertable tbody th[scope="row"] {
    background: #f0f0f0;
  }
  table.bordertable tbody th {
    border-right: 1px solid #ccc;
  }
  table.bordertable tbody td {
    border-right: 1px solid #ccc;
  }

  caption {
    font-variant: small-caps;
  }

  th,
  td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.71429em 0.5em;
  }

  th *:first-child,
  td *:first-child {
    margin-top: 0;
  }

  th.nowrap,
  td.nowrap {
    white-space: nowrap;
  }

  thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px #000 solid;
  }

  tbody {
    /* highlight row on mouse over */
  }
  tbody th {
    text-align: left;
    border-top: 1px solid #ccc;
  }
  tbody td {
    text-align: left;
    border-top: 1px solid #ccc;
  }
  tbody tr:hover th,
  tbody tr:hover td {
    background: #f8f8f8;
  }
}
.ym-wbox-header {
  position: relative;
}
.ym-wbox-header .ym-wbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#header-logo {
  position: absolute;
  top: 0;
  left: 0;
}
#header-logo img {
  padding: 17px 47px;
  display: inline-block;
  background-color: #fff;
}

#claim {
  position: absolute;
  right: 0;
  bottom: 20px;
  font-family: "Times New Roman", Times, "Droid Serif", Georgia, serif;
  font-style: italic;
  font-size: 42px;
  color: #fff;
}

.simple-gallery {
  position: relative;
}
.simple-gallery, .simple-gallery li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.simple-gallery li {
  opacity: 0;
  overflow: hidden;
}
.simple-gallery .show {
  margin-left: 0;
  opacity: 1;
}
.simple-gallery img {
  display: block;
}

.mainnav {
  padding: 30px 0px 10px 0px;
  overflow: hidden;
}
.mainnav ul, .mainnav ul li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}
.mainnav ul a, .mainnav ul li a {
  display: block;
}
.mainnav a {
  position: relative;
  overflow: hidden;
  font-family: "Times New Roman", Times, "Droid Serif", Georgia, serif;
  font-size: 30px;
  margin-right: 50px;
  padding-bottom: 3px;
  text-decoration: none;
  color: #930;
}
.mainnav a:hover, .mainnav a:focus {
  text-decoration: underline;
}

.zitatcnt p {
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-family: "open_sanssemibold", "Droid Sans", Arial, Helvetica, sans-serif;
}

.bereiche {
  text-decoration: none;
  font-size: 24px;
}
.bereiche a {
  text-decoration: none;
  color: #930;
}
.bereiche a span {
  display: inline-block;
  position: relative;
  font-family: "open_sanssemibold", "Droid Sans", Arial, Helvetica, sans-serif;
  padding-bottom: 3px;
  overflow: hidden;
}
.bereiche a:hover span, .bereiche a:focus span {
  text-decoration: underline;
}

#footer {
  border-top: 2px solid #fff;
  font-size: 16px;
  padding: 20px 0px;
}
#footer a {
  color: #592F07;
  text-decoration: none;
}
#footer a:hover, #footer a:focus {
  text-decoration: underline;
}
#footer img {
  display: block;
  padding: 34px 38px;
  background-color: #fff;
}
#footer .impressum-link, #footer .email-link {
  display: inline-block;
  margin-top: 20px;
}

@media print {
  /**
  * @section basic layout preparation
  */
  /* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
  body {
    font-size: 10pt;
    padding: 0 5px;
    color: #000 !important;
    background-color: #fff !important;
  }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  nav,
  .ym-searchform,
  #footer,
  .portrait,
  h1 a:after,
  .cta,
  .content p[data-icon],
  .speakerdeck-iframe {
    display: none;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1, h2, h3, h4, h5, h6 {
    font-size: 15pt;
    page-break-after: avoid;
    color: #000 !important;
  }

  /*------------------------------------------------------------------------------------------------------*/
  article p {
    max-width: 100%;
  }

  .content .ym-wbox {
    padding: 0;
  }

  #intro {
    padding: 0;
  }

  #header {
    margin: 0;
  }

  .pills li {
    color: #000;
    background-color: transparent;
  }

  /*------------------------------------------------------------------------------------------------------*/
}
